@using Apprenticeship.Data.Entities
@model Assignment
<link rel="stylesheet" href="~/css/timeline.css">
<link rel="stylesheet" href="~/scss/timeline.scss">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<section id="cd-timeline" class="cd-container">
	@foreach (var r in ViewBag.reportsLog)
	{
		<div class="cd-timeline-block">
			@if (r.reportStatus.reportStatusName == "Pending")
			{
				<div class="cd-timeline-img cd-picture">
				
					<div class="cd-timeline-img">
						<img src="~/assets/images/clock-128.png" alt="Clock Icon">
					</div>
				</div>
				<div class="cd-timeline-content">
					<h2>@r.reportName</h2>
					<p>@r.reportDescription</p>
					<p>@r.reportNotes</p>
					@if (r.document != null)
					{
						<a href="/Report/GetFile?documentId=@r.document.documentId" class="cd-read-more pen" target="_blank">@r.document.name</a>
					}
					else
					{
						<span class="cd-read-more pen">Document Not Available</span>
					}
					<span class="cd-date">@r.logDate.ToString("MMM dd")</span>
				</div>

			}
			else if (r.reportStatus.reportStatusName == "Rejected")
			{
				<div class="cd-timeline-img cd-picture">
					<div class="cd-timeline-img">
						<img src="~/assets/images/x-mark-128.png" alt="X Icon">
					</div>
				</div>
				<div class="cd-timeline-content">
					<h2>@r.reportName</h2>
					<p>@r.reportDescription</p>
					<p>@r.reportNotes</p>
					@if (r.document != null)
					{
						<a href="/Report/GetFile?documentId=@r.document.documentId" class="cd-read-more rej" target="_blank">@r.document.name</a>
					}
					else
					{
						<span class="cd-read-more rej">Document Not Available</span>
					}
					<span class="cd-date">@r.logDate.ToString("MMM dd")</span>
				</div>
			}
			else if (r.reportStatus.reportStatusName == "Approved")
			{
				<div class="cd-timeline-img cd-picture">
					<div class="cd-timeline-img">
					<img src="~/assets/images/approval-128.png" alt="Check Icon">
				</div>
				</div>
				<div class="cd-timeline-content">
					<h2>@r.reportName</h2>
					<p>@r.reportDescription</p>
					<p>@r.reportNotes</p>
					@if (r.document != null)
					{
						<a href="/Report/GetFile?documentId=@r.document.documentId" class="cd-read-more apv" target="_blank">@r.document.name</a>
					}
					else
					{
						<span class="cd-read-more apv">Document Not Available</span>
					}
					<span class="cd-date ">@r.logDate.ToString("MMM dd")</span>
				</div>
			}
		</div>
	}
</section>
<script src="~/js/timeline.js"></script>
