@using Apprenticeship.DTO
@using Apprenticeship.Data.Entities
@model TrainingDTO
<link rel="stylesheet" type="text/css" href="~/css/form.css" />
<div class="bigContainer">
    <div class="container-fluid mt-2">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="card myContainer">
                    <div class="card-body">
                    <h2 style="text-align:center">Edit Training.</h2>
                    <form method="post" action="/Training/Edited?trainingId=@Model.trainingId" class="mt-5">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-4">
                            <label class="mr-sm-2" asp-for="studentId">Select Student</label>
                            <select asp-for="studentId" aria-required="true" class="custom-select my-input">
                                @foreach (var student in (List<Student>)(ViewBag.students))
                                {
                                    if (Model.studentId == student.Id)
                                    {
                                        <option selected value="@student.Id">@student.fristName @student.lastName</option>
                                    }
                                    else
                                    {
                                        <option value="@student.Id">@student.fristName @student.lastName</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="studentId" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label class="mr-sm-2" asp-for="schoolSupervisorId">Select School Supervisor</label>
                            <select asp-for="schoolSupervisorId" aria-required="true" class="custom-select my-input">
                                @foreach (var schoolSupervisor in (List<SchoolSupervisor>)(ViewBag.schoolSupervisors))
                                {
                                    if (Model.schoolSupervisorId == schoolSupervisor.Id)
                                    {
                                        <option selected value="@schoolSupervisor.Id">@schoolSupervisor.fristName @schoolSupervisor.lastName</option>
                                    }
                                    else
                                    {
                                        <option value="@schoolSupervisor.Id">@schoolSupervisor.fristName @schoolSupervisor.lastName</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="schoolSupervisorId" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label class="mr-sm-2" asp-for="teamLeaderId">Select Team Leader</label>
                            <select asp-for="teamLeaderId" aria-required="true" class="custom-select my-input">
                                @foreach (var teamLeader in (List<TeamLeader>)(ViewBag.teamLeaders))
                                {
                                    if (Model.teamLeaderId == teamLeader.Id)
                                    {
                                        <option selected value="@teamLeader.Id">@teamLeader.fristName @teamLeader.lastName</option>
                                    }
                                    else
                                    {
                                        <option value="@teamLeader.Id">@teamLeader.fristName @teamLeader.lastName</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="teamLeaderId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="startDate">Choose Start Date</label>
                            <input asp-for="startDate" aria-required="true" type="datetime-local" class="form-control my-input" value="@Model.startDate.ToString("yyyy-MM-ddTHH:mm")">
                            <span asp-validation-for="startDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="endDate">Choose End Date</label>
                            <input asp-for="endDate" aria-required="true" type="datetime-local" class="form-control my-input" value="@Model.endDate.ToString("yyyy-MM-ddTHH:mm")">
                            <span asp-validation-for="endDate" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-4">
                            <label class="mr-sm-2" asp-for="objectiveIds">Select Objectives</label>
                            <select asp-for="objectiveIds" aria-required="true" class="custom-select my-input" multiple>
                                @foreach (var o in (List<Objective>)(ViewBag.trainingObjectives))
                                {
                                    var isSelected = false;

                                    foreach (var os in (List<TrainingObjectives>)(ViewBag.trainingObjectivesSelected))
                                    {
                                        if (o.objectiveId == os.objectiveId)
                                        {
                                            isSelected = true;
                                            break;
                                        }
                                    }
                                    if (isSelected)
                                    {
                                        <option selected value="@o.objectiveId">@o.objectiveName</option>

                                    }
                                    else
                                    {
                                        <option value="@o.objectiveId">@o.objectiveName</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="objectiveIds" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <button id="registerSubmit" type="submit" class="btn waves-effect waves-light btn-lg btn-rounded myBtn" style="width:100%">
                                Edit Training
                            </button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>